.dropdownContainer {
    position: absolute;
    top: 65px;
    width: 366px;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    font-size: 28px;
    background: rgba(255,255,255,1);
    z-index: 2;
}

.dropdownItem {
    padding: 10px;
    border: solid 1px;
    border-top: none;
    border-radius: 5px;
}

.dropdownItem:hover {
    background-color: aliceblue;
}

.activeDropdownItem {
    background-color: aliceblue;
}
