.dropdownContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.dropdownItem {
    padding: 10px;
    border: solid 1px;
    border-radius: 5px;
}

.dropdownItem:hover {
    background-color: aliceblue;
}

.activeDropdownItem {
    background-color: aliceblue;
}

.inputContainer {
    display: flex;
    flex-direction: column;
}

.inputElement {
    width: 360px;
    height: 60px;
    font-size: 24px;
}