.dropdownContainer {
    /*position: absolute;*/
    /*top: 60px;*/
    display: flex;
    flex-direction: column;
    margin-top: 0;
    font-size: 28px;
    z-index: 2;
}

.dropdownItem {
    padding: 10px;
    border: solid 1px;
    border-top: none;
    border-radius: 5px;
}

.dropdownItem:hover {
    background-color: aliceblue;
}

.activeDropdownItem {
    background-color: aliceblue;
}
