.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: arial helvetica sans-serif;
    border: solid 1px;
    border-radius: 5px;
    position: relative;
    margin: auto;
    padding: 10px;
}